---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../../styles/global.css';
import Favicon from '@src/assets/img/favicon.png';

interface Props {
    title: string;
    description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImageURL = new URL('/avatar.png', Astro.site).href;

const {title, description} = Astro.props;
---

<!-- Global Metadata -->
<meta charset='utf-8'/>
<meta name='viewport' content='width=device-width,initial-scale=1'/>
<link rel='icon' href={Favicon.src}/>
<meta name='generator' content={Astro.generator}/>

<!-- Canonical URL -->
<link rel='canonical' href={canonicalURL}/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title}/>
<meta name='description' content={description}/>

<!-- Open Graph / Facebook / LinkedIn -->
<meta property='og:type' content='website'/>
<meta property='og:url' content={Astro.url}/>
<meta property='og:title' content={title}/>
<meta property='og:description' content={description}/>
<meta property='og:image' content={ogImageURL}/>
<meta property='og:image:width' content='1200'/>
<meta property='og:image:height' content='630'/>
<meta property='og:site_name' content='Abdellah Addoun'/>
<meta property='og:locale' content='en_US'/>

<!-- LinkedIn-specific additional tags -->
<meta property='article:author' content='Abdellah Addoun'/>

<!-- Twitter -->
<meta property='twitter:card' content='summary_large_image'/>
<meta property='twitter:url' content={Astro.url}/>
<meta property='twitter:title' content={title}/>
<meta property='twitter:description' content={description}/>
<meta property='twitter:image' content={ogImageURL}/>
