---
import {getCollection} from 'astro:content';
import type {CollectionEntry} from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostsByYear from '../../components/PostsByYear.astro';

type BlogPost = CollectionEntry<'blog'>;
const title = "Abdellah Addoun's Blog Posts"
const description = 'Find a set of articles, guides, tutorials, or posts about different fields and concepts in software engineering.'

const posts = (await getCollection('blog')).sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout
        title={title}
        description={description}
>
    <div class='container'>
        <div class="mb-10">
            <h1 class="text-3xl font-bold mb-2">Blog Posts</h1>
            <p class="text-zinc-700 dark:text-zinc-300 text-lg">
                Articles, guides, tutorials, or simple posts about different fields and concepts in software
                engineering.
            </p>
        </div>
        <PostsByYear posts={posts}/>
    </div>
</BaseLayout>
