---
import { Image } from 'astro:assets';
import Ava from '@src/assets/img/ava.jpg';
import { AUTHOR_ROLE, FULL_NAME, LINKEDIN_ACCOUNT, NICKNAME } from '../consts';

type PicSize = 'sm' | 'md' | 'lg';
interface Props {
	picSize: PicSize;
}
const { picSize } = Astro.props;
---

<div class='flex gap-4 items-center leading-tight not-prose'>
	<a
		href={LINKEDIN_ACCOUNT}
		target='_blank'
		rel='noopener noreferrer'
		class:list={[
			'rounded-full overflow-hidden shrink-0',
			{ 'w-12 h-12': picSize === 'sm' },
			{ 'w-[70px] h-[70px]': picSize === 'md' },
			{ 'w-[90px] h-[90px]': picSize === 'lg' }
		]}
	>
		<Image src={Ava} alt={FULL_NAME} />
	</a>
	<div>
		<div>
			<a
				href={LINKEDIN_ACCOUNT}
				class='block font-bold text-inherit hover:text-[var(--link-color)]'
				target='_blank'
				rel='noopener noreferrer'
			>
				{FULL_NAME} - {NICKNAME}
			</a>
		</div>
		<small class='avatar__subtitle'>
			{AUTHOR_ROLE}
		</small>
	</div>
</div>
